{{ define "main" }}
{{ partial "gallery.html" .}}
{{- partial "navbar.html" . -}}
{{ $lang_data := index site.Data site.Language.Lang}}
{{ $data := index site.Data "data" }}
{{ $contrast_color := .Site.Params.contrast_color}}

<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <h4 class="text-center"><strong>{{$lang_data.data.index.welcome_text}}</strong></h4>
        {{ range $lang_data.data.index.short_info}}
        <div class="col-sm-4">
          {{ partial "index_short_infos.html" (dict "context" . "color" $contrast_color)}}
        </div>
        {{ end }}
      </div>
    </section>
    <!--Section: Content-->
    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>{{$lang_data.data.index.cards_title}}</strong></h4>

      <div class="row justify-content-center">
        {{ with $lang_data.data.index }}
        {{ range .cards }}
        <div class="col-lg-4 col-md-6 mb-4">
          {{ partial "index_card.html" .}}
        </div>
        {{ end }}
        {{ end }}

      </div>
  </div>
  </section>
  </div>
</main>
{{ end }}