{{ define "main" }}
{{ partial "navbar.html" .}}

<div class="container">
    <div class="row justify-content-center pt-3">
        {{ range .Pages.ByWeight}}
        {{ if and (eq .File.Dir "rooms/") (eq .Weight 1) }}
        <div class="col-lg-8 pt-3">
            {{ partial "room.html" (dict "context" . "content" "0" "width" (dict "lg" 66)) }}
        </div>
        {{ end }}
        {{ end }}
    </div>
    <hr class="my-4" />
    <div class="row justify-content-center">
        {{ range .Pages.ByWeight}}
        {{ if and (and (eq .File.Dir "rooms/") (gt .Weight 1)) (lt .Weight 10)}}        <div class="col-lg-6 pt-3">
            {{ partial "room.html" (dict "context" . "content" "0") }}
        </div>
        {{ end }}
        {{ end }}
    </div>
    <hr class="my-4" />
    <div class="row justify-content-center">
        {{ range .Pages.ByWeight}}
        {{ if and (and (eq .File.Dir "rooms/") (gt .Weight 20)) (lt .Weight 30)}}        <div class="col-lg-6 pt-3">
            {{ partial "room.html" (dict "context" . "content" "0") }}
        </div>
        {{ end }}
        {{ end }}
    </div>
    <hr class="my-4" />

    <div class="row justify-content-center pb-3">
        {{ range .Pages.ByWeight}}
        {{ if and (eq .File.Dir "rooms/") (gt .Weight 9) (lt .Weight 20)}}          
        <div class="col-lg-6 pt-3">
            {{ partial "room.html" (dict "context" . "content" 0) }}
        </div>
        {{ end }}
        {{ end }}
    </div>

</div>
{{ end }}