{{ define "main" }}
{{- partial "navbar.html" . -}}

<main class="mt-5 mb-5 vh-100">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form action="https://submit-form.com/{{- .Site.Params.formspark_form_id -}}">
                    <!-- <input type="hidden" name="_redirect" value='{{relURL "thanks" }}' /> -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="first_name" class="form-control" name="Vorname" required />
                                <label class="form-label" for="first_name">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="last_name" class="form-control" name="Nachname" required />
                                <label class="form-label" for="last_name">Last name</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="email" id="email" class="form-control" name="Email" required />
                                <label class="form-label" for="email">Email</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="tel" id="telephone" class="form-control" name="Telefon" />
                                <label class="form-label" for="telephone">Telefon</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <label class="form-label" for="numRooms">Anzahl Zimmer</label>
                            <div class="range">
                                <input type="range" class="form-range" min="0" max="5" value="1" id="numRooms"
                                    name="Anzahl Zimmer" />
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label" for="numPersons">Anzahl Personen</label>
                            <div class="range">
                                <input type="range" class="form-range" min="0" max="5" value="2" id="numPersons"
                                    name="Anzahl Personen" />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4 pb-3">
                        <div class="col">
                            <div class="form-outline">
                                <input type="date" id="arrival" class="form-control" name="Anreise" />
                                <div class="form-helper">Anreise</div>


                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="date" id="departure" class="form-control" name="Anreise" />
                                <div class="form-helper">Abreise</div>

                            </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Abschicken</button>
                </form>
            </div>
        </div>
    </div>
</main>

{{ end }}