{{ define "main" }}
{{- partial "navbar.html" . -}}
{{ $data := index site.Data site.Language.Lang}}

<main class="mt-5 mb-5">
    <div class="container">
        <div class="card">
            <h2 class="card-title">Buchung</h2>
            <div class="card-body">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Zimmerpreise Komfort </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Site.Pages.ByWeight}}
                        {{ if and (and (eq .File.Dir "rooms/") (gt .Weight 0)) (lt .Weight 10)}}
                        <tr>
                            <td> {{.Name }}</td>
                            <td class="text-end">
                                {{ range .Params.Resources.prices }}
                                {{.}}
                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                        {{ end }}
                        <tr>
                            <td>
                                {{ $data.data.breakfast}}
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="my-3"/>
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>Zimmerpreise Komfort </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Site.Pages.ByWeight}}
                        {{ if and (eq .File.Dir "rooms/") (gt .Weight 9)}}
                        <tr>
                            <td> {{.Name }}</td>
                            <td class="text-end">
                                {{ range .Params.Resources.prices }}
                                {{.}}
                                {{ end }}
                            </td>
                        </tr>
                        {{ end }}
                        {{ end }}
                        <tr>
                            <td>
                                {{ $data.data.breakfast}}
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="my-5"/>

                {{ partial "contact_form.html" . }}
            </div>
        </div>
    </div>
</main>

{{ end }}