{{ define "main" }}
{{- partial "navbar.html" . -}}
{{ $lang_data := index site.Data site.Language.Lang}}

<main class="mt-5 mb-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-7 col-md-8">
        <div class="card">
          <!--Section: Content-->
          <iframe height="500" src="https://www.openstreetmap.org/export/embed.html?bbox=9.262941777706148%2C49.99580185017349%2C9.266798794269564%2C49.99719674112558&amp;layer=mapnik&amp;marker=49.996499300707775%2C9.264870285987854" style="border: 1px solid black"></iframe>
          
          <div class="card-body">
            <h5 class="card-title">
              {{$lang_data.data.location.title}}
            </h5>
            <div class="card-text">
              {{$lang_data.data.location.text | markdownify}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}