{{ define "main" }}
{{- partial "navbar.html" . -}}
{{ $lang_data := index site.Data site.Language.Lang}}
<main class="mt-5 mb-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="card h-100">
                    <iframe class="card-img-top" width="100%" height="563" frameborder="0" allowfullscreen src="https://tourmkr.com/F1CgAaMtWU/41191887p&196.87h&83.28t"></iframe>
                    <div class="card-body">
                        <h5 class="card-title">{{.Page.Title}}</h5>
                        <p class="card-text">
                            {{ .Content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}