{{ define "main" }}
    {{- partial "navbar.html" . -}}

    <main class="mt-5 mb-5">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-xl-7 col-md-8">
            <div class="card">
              <!--Section: Content-->
              <iframe style="border: 1px solid #000000;" src="/360/sv_wp3_viewer.html" name="SV_KSL" width="99%" height="500px" frameborder="0" scrolling="no">Ihr Browser kann leider keine eingebetteten Frames anzeigen:<br />
                Sie können die eingebettete Seite über den folgenden Verweis<br />
                aufrufen: <a href="./360/sv_wp3_viewer.html">manueller Aufruf</a>&nbsp;<br />
                &nbsp;<br />
                </iframe>

              </iframe>
              <div class="card-body">
                <h5 class="card-title">
                  Anfahrt
                </h5>
                <p class="card-text">
                  Hallo
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{{ end }}