{{ define "main" }}
{{- partial "navbar.html" . -}}

<main class="mt-5 mb-5">
  <div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-7 col-md-8">
        <div class="card">
          <div class="card-body">

         <h5>
          {{ .Title }}
         </h5> 
         <div class="card-text">
          {{ .Content }}
         </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
{{ end }}