{{ define "main" }}
{{- partial "navbar.html" . -}}
{{ $lang_data := index site.Data site.Language.Lang}}
{{ $data := index site.Data "data" }}
<main class="mt-5 mb-5">
  <div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-7 col-md-8">
        <div class="card">
          <div class="card-body">
         <h5>
          {{ .Title }}
         </h5> 
         <div class="card-text">
          <a class="btn btn-outline-dark float-end btn-contrast" href='{{ relLangURL "/" }}' data-mdb-ripple-color="green">{{$lang_data.data.goto_home}}</a>
         </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
{{ end }}