<form action="https://submit-form.com/{{- .Site.Params.formspark_form_id -}}">
    <!-- <input type="hidden" name="_redirect" value='{{relURL "thanks" }}' /> -->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" id="first_name" class="form-control" name="Vorname" required />
                <label class="form-label" for="first_name">Vorname</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="text" id="last_name" class="form-control" name="Nachname" required />
                <label class="form-label" for="last_name">Nachname</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="email" id="email" class="form-control" name="Email" required />
                <label class="form-label" for="email">Email</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="tel" id="telephone" class="form-control" name="Telefon" />
                <label class="form-label" for="telephone">Telefon</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <label class="form-label" for="roomSelect">Zimmerauswahl</label>
            <select class="form-select" aria-label="Default select example" id="roomSelect">
                {{ range .Site.Pages.ByWeight}}
                        {{ if and (eq .File.Dir "rooms/") (gt .Weight 0)}}
                <option {{ if eq .Weight 2 }} selected {{end}} value="{{.Name}}">{{.Name}}</option>
                        {{ end }}
                        {{ end }}
              </select>
        </div>
        <div class="col">
            <label class="form-label" for="numPersons">Anzahl Personen</label>
            <div class="range">
                <input type="range" class="form-range" min="0" max="5" value="2" id="numPersons"
                    name="Anzahl Personen" />
            </div>
        </div>
    </div>

    <div class="row mb-4 pb-3">
        <div class="col">
            <div class="form-outline">
                <input type="date" id="arrival" class="form-control" name="Anreise" />
                <div class="form-helper">Anreise</div>


            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="date" id="departure" class="form-control" name="Anreise" />
                <div class="form-helper">Abreise</div>

            </div>
        </div>
    </div>
    <div class="form-outline">
        <textarea class="form-control" id="textArea" rows="4" name="Nachricht"></textarea>
        <label class="form-label" for="textArea">Ihre Nachricht</label>
      </div>

      <div class="pt-3"></div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary mb-4">Abschicken</button>
</form>