{{ $lang_data := index site.Data site.Language.Lang}}
<form action="https://submit-form.com/{{- .Site.Params.formspark_form_id -}}" name="SpessartruhForm">
   <input type="hidden" name="_redirect" value='{{absURL "thanks" }}' /> 
   <input type="hidden" name="_append" value="false" />
   <input type="hidden" name="_email.subject" value="Neue Zimmeranfrage" />
   <input type="hidden" name="_email.from" value="Spessartruh Webseite" />

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" id="first_name" class="form-control" name="Vorname" required />
                <label class="form-label" for="first_name">{{$lang_data.data.contact_form.first_name}}</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="text" id="last_name" class="form-control" name="Nachname" required />
                <label class="form-label" for="last_name">{{$lang_data.data.contact_form.last_name}}</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="email" id="email" class="form-control" name="email" required />
                <label class="form-label" for="email">{{$lang_data.data.contact_form.email}}</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="tel" id="telephone" class="form-control" name="Telefon" />
                <label class="form-label" for="telephone">{{$lang_data.data.contact_form.telephone}}</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <label class="form-label" for="roomSelect">{{$lang_data.data.contact_form.room_select}}</label>
            <select class="form-select" aria-label="Default select example" id="roomSelect" name="Zimmertyp">
                {{ range .Site.Pages.ByWeight}}
                        {{ if .File}}
                        {{ if and (eq .File.Dir "rooms/") (gt .Weight 0)}}
                <option {{ if eq .Weight 2 }} selected {{end}} value="{{.Name}}">{{.Name}}</option>
                        {{ end }}
                        {{ end }}
                        {{ end }}
              </select>
        </div>
        <div class="col">
            <label class="form-label" for="numPersons">{{$lang_data.data.contact_form.persons_select}}</label>
            <div class="range">
                <input type="range" class="form-range" min="0" max="45" value="2" id="numPersons"
                    name="AnzahlPersonen" />
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col pb-4">
            <div class="form-outline">
                <input type="date" id="arrival" class="form-control" name="Anreise" required />
                <div class="form-helper">{{$lang_data.data.contact_form.arrival}}</div>
            </div>
        </div>
        <div class="col pb-4">
            <div class="form-outline">
                <input type="date" id="departure" class="form-control" name="Abreise" required />
                <div class="form-helper">{{$lang_data.data.contact_form.departure}}</div>
            </div>
        </div>
    </div>
    <div class="form-outline mt-3">
        <textarea class="form-control" id="textArea" rows="4" name="Nachricht"></textarea>
        <label class="form-label" for="textArea">{{$lang_data.data.contact_form.your_message}}</label>
      </div>

      <div class="pt-3"></div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-outline-dark btn-contrast mb-4">{{$lang_data.data.contact_form.send}}</button>
</form>