<!--Footer-->
<footer class="text-white" style="background-color: rgba(0, 0, 0, 0.5);">

  <div class="container">

    <div class="row">
      <div class="col-md-4 pt-4">
        <h5 class="text-center">Über uns</h5>
        <p>Willkommen bei Familie Gerber! Genießen Sie frische Luft im Herzen des Spessarts. Schon seit
          mehr als 60 Jahren begrüßen wir unsere Gäste mit gutem Essen und warmer Gastlichkeit. Wir
          freuen uns auf Ihren Besuch!</p>
      </div>
      <div class="col-md-4 pt-4 py-4 text-center align-items-center">
        <h5>SOCIAL MEDIA</h5>
        <p>Folgen Sie uns auch auf Social Media</p>
        <a class="button is-medium is-facebook">
          <span class="icon">
            <i class="fab fa-facebook-f fa-lg m-1"></i>
          </span>
        </a>
        <a class="button is-medium is-foursquare">
          <span class="icon">
            <i class="fab fa-foursquare fa-lg"></i>
          </span>
        </a>
        <a class="button is-medium is-twitter">
          <span class="icon">
            <i class="fab fa-twitter fa-lg"></i>
          </span>
        </a>
        <a class="button is-medium is-linkedin">
          <span class="icon">
            <i class="fab fa-linkedin-in fa-lg"></i>
          </span>
        </a>
      </div>
      <div class="col-md-4 pt-4">
        <h5 class="text-center">Kontakt</h5>
        <p>

        </p>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-white text-center align-items-center pb-3">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
    {{ if gt .Weight 11 }}
    <a class='button text-white {{ if in $currentPage .URL  }} active {{ end }}' href="{{ .URL }}">
      {{ .Name }}
  </a> 
  |
    {{ end }}
    {{ end }}

  <!-- Copyright -->
    &copy; 2023 - Gasthof Pension Spessartruh.
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->


<!-- MDB -->
<script type="text/javascript" src="js/mdb.min.js"></script>