{{ $lang_data := index site.Data site.Language.Lang}}
{{ $data := index site.Data "data" }}
<!--Footer-->
<footer class="text-white" style="background-color: rgba(0, 0, 0, 0.78);">
  <div class="container">

    <div class="row">
      <div class="col-md-3 pt-4">
        <h5 class="">{{$lang_data.data.about_title}}</h5>
        <p>{{$lang_data.data.about_text}}</p>

      </div>
      <div class="col-md-6 pt-4 text-center align-items-center" onclick="location.href='{{relLangURL "/calendar"}}'">
        <h5><a href='{{- relLangURL "/calendar" -}}' class="text-white">{{$lang_data.data.calendar_title}}</a></h5>
        <!-- Here starts the calendar section -->
      {{- $events := index site.Data site.Language.Lang "calendar" "events" -}}
      {{- range $events -}}
        {{- if and (isset . "calendar_start") (isset . "calendar_end") (isset . "calendar_title") (isset . "calendar_summary")
                    (ne .calendar_start "") (ne .calendar_end "") (ne .calendar_title "") (ne .calendar_summary "") -}}
          {{- $id := printf "calendar_entry-%d" (hash.FNV32a (printf "%s|%s" .calendar_title .calendar_summary)) -}}
          <p id="{{ $id }}" style="display: none;">
            <small>{{ .calendar_summary }}<br/> <b>{{ .calendar_title }}</b></small>
          </p>
        {{- end -}}
      {{- end -}}

        <!-- calendar ends -->
      </div>
      <div class="col-md-3 pt-4">
        <h5 class="">{{$lang_data.data.contact_title}}</h5>
        {{ with $data.contact}}
        <a class="text-white" href="https://maps.app.goo.gl/JpcpRAkQHn4Fktt28"> <i class="fa fa-home"
            aria-hidden="true"></i> {{ .address}} </a> <br>
        <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{.festnetz}}" class="text-white"> {{.festnetz}}</a>
        <br>
        <p class="text-white"> <i class="fa fa-fax" aria-hidden="true"></i><span class="text-white">{{ .fax}}</span>
          <br>
          <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:{{.email}}" class="text-white">
            {{.email}}</a>
        </p>
        {{ end }}

      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-white text-center align-items-center pb-3">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
    {{ if gt .Weight 10 }}
    <a class='button text-white {{ if in $currentPage .URL  }} active {{ end }}' href="{{ .URL | relLangURL }}">
      {{ .Name }}
    </a>
    |
    {{ end }}
    {{ end }}

    <!-- Copyright -->
    &copy; 2023 - Gasthof Spessartruh.
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->


<!-- MDB -->
<script type="text/javascript" src="/js/mdb.min.js"></script>

<script>
  function activate_calendar(start_date_str, end_date_str, target_id, target) {
    var today = new Date().setHours(0, 0, 0, 0);
    var start_date = new Date(start_date_str).setHours(0, 0, 0, 0);
    var end_date = new Date(end_date_str).setHours(0, 0, 0, 0);
    if ((start_date <= today) && (today <= end_date)) {
      document.getElementById(target_id).style.display = "block";
    }
  }
</script>
<script>
  {{- $events := index site.Data site.Language.Lang "calendar" "events" -}}
  {{- range $events -}}
    {{- if and (isset . "calendar_start") (isset . "calendar_end") (isset . "calendar_title") (isset . "calendar_summary")
                (ne .calendar_start "") (ne .calendar_end "") (ne .calendar_title "") (ne .calendar_summary "") -}}
      {{- $id := printf "calendar_entry-%d" (hash.FNV32a (printf "%s|%s" .calendar_title .calendar_summary)) -}}
      activate_calendar("{{ .calendar_start }}", "{{ .calendar_end }}", "{{ $id }}", "{{ .calendar_title }}");
    {{- end -}}
  {{- end -}}
</script>