<section id="gallery">
    <div class="container">
        <div class="block">
            <div class="content">
                <h4 class="is-1">Willkommen im Landgasthof Spessartruh in Steiger</h4>
            </div>

            <div id="slider">
                <div class="card-image">
                    <figure class="image is-16by9 is-covered">
                         <img src="YOUR-IMAGE-HERE.JPG" alt="" />
                     </figure>
                     </div>
                      <div class="card-content slider-text">
                         <div class="is-size-5 box">
                             test
                          </div>
                   </div>
            </div>
        </div>
    </div>
</section>