<div class="card h-100">
    {{ if .images }}
    {{- $ctr := 0 }}
    {{- $id := printf "index_carousel%d" (hash.FNV32a .title)}}
        {{ if gt (len .images) 1}}
        <!-- Carousel wrapper -->
        <div id="{{$id}}" class="bg-image carousel slide carousel-fade" data-mdb-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                {{- range .images -}}
                {{- if resources.Match .src -}}
                <button type="button" data-mdb-target="#{{- $id}}" data-mdb-slide-to="{{$ctr}}" {{ if eq $ctr 0 }}
                    class="active" aria-current="true" {{ end }} aria-label="{{.name}}"></button>
                {{- $ctr = add $ctr 1}}
                {{- end -}}
                {{- end -}}
            </div>

            {{ $ctr = 0 }}
            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Single item -->
                {{- range .images -}}
                {{- if resources.Match .src -}}
                <div class="carousel-item {{- if eq $ctr 0}} active {{end -}}">
                    {{ partial "responsive_image.html" (dict "image" .src "title" .name "widths" (dict "lg" 33 "md" 50)) }}
                </div>
                {{- $ctr = add $ctr 1 -}}
                {{- end -}}
                {{- end -}}

                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#{{- $id}}" data-mdb-slide="prev">
                    <i class="fas fa-arrow-left"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#{{- $id}}" data-mdb-slide="next">
                    <i class="fas fa-arrow-right"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Carousel wrapper -->
        {{ else }}
        {{ range first 1 .images }}
        {{ partial "responsive_image.html" (dict "image" .src "widths" (dict "lg" 33 "md" 50)) }}
        {{ end }}
        {{ end }}
        {{ end }}
    <div class="card-body">
        <h5 class="card-title">{{.title}}</h5>
        <p class="card-text">
            {{ .text | markdownify }}
            </p>
        <p class="card-text">

            {{ if .url }}
            <a class="btn btn-outline-dark btn-contrast float-end" style="z-index: 20000;" href="{{.url | relLangURL }}" data-mdb-ripple-color="green">
                {{.url_title}}
            </a>
            {{ end }}
        </p>
    </div>
</div>




