{{ $data := index site.Data "data" }}

<section class="hero main_hero is-fullheight">
    <div class="hero-head">
        <div class="first_nav">
            <div class="container">
                <nav class="navbar">
                    <div class="navbar-brand">
                        {{ with $data.index }}
                        <a class="navbar-item" href="/">
                            <img src="{{ .logo_wide | relURL }}" alt="Gasthof Spressartruh" height="28" />
                        </a>
                        {{ end }}
                        {{ with $data.contact}}
                        <a class="navbar-item is-hidden-desktop" href="tel:{{- .festnetz -}}">
                            <span class="icon" style="color: #333;">
                                <i class="fa fa-lg fa-phone-alt"></i>
                            </span>
                        </a>
                        <a class="navbar-item is-hidden-desktop" href="mailto:{{- .email -}}">
                            <span class="icon" style="color: #333;">
                                <i class="fa fa-lg fa-envelope"></i>
                            </span>
                        </a>
                        <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
                            <span class="icon">
                                <i class="fab fa-lg fa-facebook-f"></i>
                            </span>
                        </a>
                        <!-- Mobile Menu -->
                        <div class="navbar-burger burger" data-target="navMenuBlogHero">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- Menu -->
                    <div id="navMenuBlogHero" class="navbar-menu">
                        <!-- Left Nav -->
                        <div class="navbar-start">
                            <a class="navbar-item" href="#rooms">Speisekarte</a>
                            <a class="navbar-item" href="#hotel-gallery">Zimmer & Suite</a>
                            <a class="navbar-item" href="#about-us">Panoramabilder</a>
                            <a class="navbar-item" href="#contact-us">Anfahrt</a>
                        </div>
                        <!-- ./Left Nav -->
                        <!-- Right Nav -->
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-normal is-success" href="tel:{{- .festnetz -}}">
                                            <span class="icon">
                                                <i class="fa fa-phone-alt"></i>
                                            </span>
                                            <span>Telefon</span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-normal is-facebook" href="mailto:{{- .email -}}">
                                            <span class="icon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <span>Email</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="hero-body">
        </div>
        <div class="hero-foot">
        <div class="container has-text-centered">
            <div class="slider-content animated zoomIn pb-6">
                <div>
                    {{ with $data.index }}
                    <img class="main-text" src="{{ .logo | relURL }}" alt="Gasthof Spressartruh" width="300px" />
                    {{ end }}
                    <p class="title is-1 main-text">Gasthof Pension Spessartruh
                    </p>
                    <p class="subtitle is-4 main-text">Genuss und Gemütlichkeit im Vorspessart</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}