{{ $data := index site.Data site.Language.Lang}}
{{ $width := (dict "lg" 50)}}
{{ if .width }} {{$width = .width }} {{ end }}
<div class="card h-100">
    {{ if gt (len .context.Params.Resources.Images) 1}}
    {{- $ctr := 0 }}
    {{- $id := printf "room_carousel%d" (hash.FNV32a .context.Params.Title)}}    <!-- Carousel wrapper -->
    <div id="{{$id}}" class="carousel slide carousel-fade" data-mdb-interval="6000" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            {{ range .context.Params.Resources.Images}}
            {{ if resources.Match .src }}
            <button type="button" data-mdb-target="#{{- $id}}" data-mdb-slide-to="{{$ctr}}" {{ if eq $ctr 0 }}
                class="active" aria-current="true" {{ end }} aria-label="{{.name}}"></button>
            {{ $ctr = add $ctr 1}}
            {{ end }}
            {{ end }}
        </div>

        {{ $ctr = 0 }}
        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            {{ range .context.Params.Resources.Images }}
            {{ $asset := resources.GetMatch .src }}  <!-- Check if .src exists as an asset -->
            {{ if and .src $asset }}  <!-- Ensure .src is not empty and is a valid asset -->
                <div class="carousel-item {{ if eq $ctr 0 }} active {{ end }}">
                    {{ partial "responsive_image.html" (dict "image" $asset.RelPermalink "title" .name "widths" $width) }}
                </div>
                {{ $ctr = add $ctr 1 }}
            {{ end }}
            {{ end }}

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#{{- $id}}" data-mdb-slide="prev">
                <i class="fas fa-arrow-left"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#{{- $id}}" data-mdb-slide="next">
                <i class="fas fa-arrow-right"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel wrapper -->
    {{ else }}
    {{ range first 1 .context.Params.Resources.Images }}
    {{ if .src }}
    {{ partial "responsive_image.html" (dict "image" .src "title" .title "widths" $width) "class" "card-img-top" }}
    {{ end }}
    {{ end }}
    {{ end }}
    <div class="card-body">
        <div class="position-relative">
        <div class="row card-title">
            <div class="col">
                <a href="{{.context.Permalink | relURL}}" class="text-black {{ if lt .content 1 }}stretched-link {{ end }}"> <h5>{{.context.Title}}</h5></a>
            </div>
            <div class="col">
                <div class="text-black-50 text-end"> {{.context.Params.Resources.persons}}</div>
            </div>
        </div>
        <div class="card-text">
            {{ if lt .content 1}}
            {{ if .context.Params.Resources.prices}}
            {{ range first 1 .context.Params.Resources.prices }}
            <p class="fw-bold">{{ . }} {{$data.data.breakfast}} </p>
            {{ end }}
            {{ end }}
            {{ else }}
            {{ .context.Content }}
            {{ range .context.Params.Resources.prices}}
            <p class="fw-bold">{{ . }} {{$data.data.breakfast}}</p>
            {{ end }}
            {{ end }}
        </div>
    </div>
            <a class="btn btn-outline-dark float-end btn-contrast" style="z-index: 20000;" href='{{ relLangURL "/contact"}}' data-mdb-ripple-color="dark">{{$data.data.booking_text}}</a>
    </div>
</div>