<style>
    .btn-contrast {
        color: {
                {
                $.Site.Params.contrast_color
            }
        }

        ;

        border-color: {
                {
                $.Site.Params.contrast_color
            }
        }

        ;
    }

    .sr-fullpage-gallery-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }
    .sr-fullpage-gallery-item {
        height: calc(100vh - 58px);
    }

</style>