<style>
    .btn-contrast {
        color: {
                {
                $.Site.Params.contrast_color
            }
        }

        ;

        border-color: {
                {
                $.Site.Params.contrast_color
            }
        }

        ;
    }

    .sr-fullpage-gallery-image {
        object-repeat: no-repeat;
        object-fit: cover;
        object-position: center center;
        height: 100vh;
        width: 100vw;
    }

    #introCarousel,
    .sr-fullpage-carousel-inner,
    .sr-fullpage-carousel-item,
    .sr-fullpage-carousel-item.active{
        height: calc(100vh - 58px);
        width: 100vw;
    }

</style>